{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block body %}
    <div class="w3-card-4">

    <header class="w3-container w3-blue">
    <h1>Cerveza</h1>
    </header>

    <div class="w3-container">
    <p>Lorem ipsum...</p>
    </div>

    <footer class="w3-container w3-blue">

    </footer>

    </div>
{% endblock %}